---
import { Image } from "astro:assets";
import restaurant from "../images/carousel/restaurant.png";
import cafe from "../images/carousel/cafe.png";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const items = document.querySelectorAll(".item");
    const prevButton = document.getElementById("prev");
    const nextButton = document.getElementById("next");
    let currentIndex = 0;
    let interval;

    const updateClasses = () => {
      items.forEach((item, index) => {
        /*  console.log(`Current Index: ${currentIndex}`); */
        item.classList.remove("active", "left", "right", "behind");
        if (index === currentIndex) {
          item.classList.add("active");
        } else if (index === (currentIndex + 1) % items.length) {
          item.classList.add("right");
        } else if (index === (currentIndex - 1 + items.length) % items.length) {
          item.classList.add("left");
        } else {
          item.classList.add("behind");
        }
        /*         console.log(`Index: ${index}, Class: ${item.className}`); */
      });
    };

    const nextSlide = () => {
      currentIndex = (currentIndex + 1) % items.length;
      updateClasses();
    };

    const prevSlide = () => {
      currentIndex = (currentIndex - 1 + items.length) % items.length;
      updateClasses();
    };

    const resetInterval = () => {
      clearInterval(interval);
      interval = setInterval(nextSlide, 5000);
    };

    nextButton.addEventListener("click", () => {
      nextSlide();
      resetInterval();
    });

    prevButton.addEventListener("click", () => {
      prevSlide();
      resetInterval();
    });

    interval = setInterval(nextSlide, 5000);
    updateClasses();
  });
</script>
<div class="flex items-center justify-center h-96 relative">
  <Image src={cafe} alt="cafe" class="item active" />
  <Image src={restaurant} alt="restaurant" class="item right" />
  <Image src={cafe} alt="cafe" class="item left" />
  <Image src={restaurant} alt="restaurant" class="item behind" />
  <Image src={cafe} alt="cafe" class="item behind" />
  <Image src={restaurant} alt="restaurant" class="item behind" />
</div>
<div
  class="absolute -bottom-5 sm:-bottom-16 left-0 right-0 flex items-center justify-center gap-20">
  <button id="prev">
    <div
      class="text-2xl active:text-primaryOrange lg:hover:text-primaryOrange lg:hover:scale-125 duration-300">
      ❮
    </div>
  </button>
  <button id="next">
    <div
      class="text-2xl active:text-primaryOrange lg:hover:text-primaryOrange lg:hover:scale-125 duration-300">
      ❯
    </div>
  </button>
</div>
