---
import { Image } from "astro:assets";
import restaurant from "../images/carousel/restaurant.png";
import cafe from "../images/carousel/cafe.png";
import family from "../images/carousel/productive-family.png";
import onlineStores from "../images/carousel/online-stores.png";
import pharmacy from "../images/carousel/pharmacy.png";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const items = document.querySelectorAll(".item");
    const prevButton = document.getElementById("prev");
    const nextButton = document.getElementById("next");
    let currentIndex = 0;
    let interval;

    const updateClasses = () => {
      items.forEach((item, index) => {
        /*  console.log(`Current Index: ${currentIndex}`); */
        item.classList.remove("active", "left", "right", "behind");
        if (index === currentIndex) {
          item.classList.add("active");
        } else if (index === (currentIndex + 1) % items.length) {
          item.classList.add("right");
        } else if (index === (currentIndex - 1 + items.length) % items.length) {
          item.classList.add("left");
        } else {
          item.classList.add("behind");
        }
        /*         console.log(`Index: ${index}, Class: ${item.className}`); */
      });
    };

    const nextSlide = () => {
      currentIndex = (currentIndex + 1) % items.length;
      updateClasses();
    };

    const prevSlide = () => {
      currentIndex = (currentIndex - 1 + items.length) % items.length;
      updateClasses();
    };

    const resetInterval = () => {
      clearInterval(interval);
      interval = setInterval(nextSlide, 5000);
    };

    nextButton.addEventListener("click", () => {
      nextSlide();
      resetInterval();
    });

    prevButton.addEventListener("click", () => {
      prevSlide();
      resetInterval();
    });

    interval = setInterval(nextSlide, 5000);
    updateClasses();
  });
</script>
<div class="flex items-center justify-center h-96 relative">
  <div class="item first">
    <h4 class="text-white text-xl absolute top-2 left-2">Café</h4>
    <Image src={cafe} alt="cafe" class="size-full" />
  </div>
  <div class="item left">
    <h4 class="text-white text-xl absolute bottom-2 left-2">Restaurant</h4>
    <Image src={restaurant} alt="restaurant" class="size-full" />
  </div>
  <div class="item right">
    <h4 class="text-white text-xl absolute bottom-2 left-2">
      Productive Families
    </h4>
    <Image src={family} alt="cafe" class="size-full" />
  </div>
  <div class="item behind">
    <h4 class="text-white text-xl absolute bottom-2 left-2">Online Stores</h4>
    <Image src={onlineStores} alt="restaurant" class="size-full" />
  </div>
  <div class="item behind">
    <h4 class="text-white text-xl absolute bottom-2 left-2">pharmacy</h4>
    <Image src={pharmacy} alt="cafe" class="size-full" />
  </div>
  <div class="item behind">
    <Image src={restaurant} alt="restaurant" class="size-full" />
  </div>
</div>
<div
  class="absolute -bottom-5 sm:-bottom-10 left-0 right-0 flex items-center justify-center gap-20">
  <button id="prev">
    <div
      class="text-2xl active:text-primaryOrange lg:hover:text-primaryOrange lg:hover:scale-125 duration-200">
      ❮
    </div>
  </button>
  <button id="next">
    <div
      class="text-2xl active:text-primaryOrange lg:hover:text-primaryOrange lg:hover:scale-125 duration-200">
      ❯
    </div>
  </button>
</div>
