---
import Layout from "../../../layouts/Layout.astro";

import one from "../../../images/icons/1.png";
import two from "../../../images/icons/2.png";
import three from "../../../images/icons/3.png";
import four from "../../../images/icons/4.png";
import google from "../../../images/icons/google play.png";
import apple from "../../../images/icons/apple store.png";
import { Image } from "astro:assets";
---

<Layout title="Registration | Drivers" lang="en">
  <section class="relative bg-darkGray">
    <div class="container section-container">
      <div class="py-14 flex items-center justify-center">
        <h2 class="text-white text-center text-3xl lg:text-5xl">
          Become a driver.
        </h2>
      </div>
    </div>
    <div class="custom-shape-divider-bottom-1720992718">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none">
        <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"
        ></path>
      </svg>
    </div>
  </section>
  <section id="register">
    <div
      class="container section-container flex flex-col items-center justify-center gap-28">
      <h3 class="text-center text-3xl">How to register</h3>
      <div class="flex flex-col lg:flex-row gap-y-10 gap-x-4">
        <div
          class="lg:w-1/4 h-full relative flex flex-col sm:flex-row lg:flex-col items-center justify-between gap-10">
          <div class="w-full">
            <h4 class="text-2xl">Step 1</h4>
            <hr
              class="border-black after:absolute after:w-3 after:h-3 after:rounded-full after:bg-black after:-right-[15px] after:top-[26px] after:hidden after:lg:block"
            />
            <p>
              <span class="text-black font-medium">Download</span> the app from google
              play or apple store
            </p>
          </div>
          <Image src={one} alt="Download" />
        </div>
        <div
          class="lg:w-1/4 h-full relative flex flex-col sm:flex-row lg:flex-col items-center justify-between gap-10">
          <div class="w-full">
            <h4 class="text-2xl">Step 2</h4>
            <hr
              class="border-black after:absolute after:w-3 after:h-3 after:rounded-full after:bg-black after:-right-[15px] after:top-[26px] after:hidden after:lg:block"
            />
            <p>
              Fill out the necessary details and provide any required documents.
            </p>
          </div>
          <Image src={two} alt="Download" />
        </div>
        <div
          class="lg:w-1/4 h-full relative flex flex-col sm:flex-row lg:flex-col items-center justify-between gap-10">
          <div class="w-full">
            <h4 class="text-2xl">Step 3</h4>
            <hr
              class="border-black after:absolute after:w-3 after:h-3 after:rounded-full after:bg-black after:-right-[15px] after:top-[26px] after:hidden after:lg:block"
            />
            <p>Learn about our processes and get started quickly.</p>
          </div>
          <Image src={three} alt="Download" />
        </div>
        <div
          class="lg:w-1/4 h-full relative flex flex-col sm:flex-row lg:flex-col items-center justify-between gap-10">
          <div class="w-full">
            <h4 class="text-2xl">Step 4</h4>
            <hr
              class="border-black after:absolute after:w-3 after:h-3 after:rounded-full after:bg-black after:-right-[15px] after:top-[26px] after:hidden after:lg:block"
            />
            <p>
              Begin accepting delivery tasks and start earning extra income.
            </p>
          </div>
          <Image src={four} alt="Download" />
        </div>
      </div>
      <div class="flex items-center gap-3">
        <a href="#"><Image src={google} alt="google" class="w-36 md:w-60" /></a>
        <a href="#"><Image src={apple} alt="apple" class="w-36 md:w-60" /></a>
      </div>
    </div>
  </section>
</Layout>
